<%- include('../../../partials/head') %>
<% var page = "system"; %>
<style>
</style>

<div class="page-container">
  <div class="sidebar-menu toggle-others fixed">
    <%- include('./sidebar') %>
  </div>
  <div class="main-content">
    <%- include('../../../partials/navbar') %>

    <div class="page-title">
      <div class="title-env">
        <h1 class="title">연구 논문/작품 진행</h1>
        <p class="description">다음 연구 작품 및 논문 단계를 진행하시기 바랍니다.</p>
      </div>
      <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
          <li>
            <a href="main"><i class="fa-home"></i>메인</a>
          </li>
          <li class="active">
            <strong>연구 논문/작품 진행</strong>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="page-error centered">
          <div class="error-symbol">
            <i class="fa-warning"></i>
          </div>
          <h2>
            휴학생은 시스템을 진행할 수 없습니다.
            <small>학생은 현재 휴학 상태 입니다.</small>
          </h2>
          <p>재학중이지만 휴학상태로 처리되있는 경우 소프트웨어융합대학 행정실로 문의해주세요.</p>
          <p>연구 논문/작품 시스템 진행 정보 및 관련 문의사항은 좌측 공지사항 또는 질문 및 답변 게시판을 확인해주세요.</p>
        </div>
      </div>
    </div>

    <%- include('./role-footer') %>
  </div>
</div>

<%- include('../../../partials/loading') %>
<%- include('../../../partials/foot-scripts') %>
<script>
  jQuery(document).ready(function($) {
  });
</script>
<%- include('../../../partials/foot-end') %>