extends layout

block page_header
  - var page = "calendar"
  link(rel="stylesheet" href="/cssys/assets/js/select2/select2.css")
  link(rel="stylesheet" href="/cssys/assets/js/select2/select2-bootstrap.css")
  link(rel="stylesheet" href="/cssys/assets/js/multiselect/css/multi-select.css")
  style.

block page_body
  .page-title
    .title-env
      h1.title 캘린더 관리
      p.description 추가하고 싶은 캘린더 정보를 입력 또는 수정하고 싶은 캘린더를 선택하시기 바랍니다.
    .breadcrumb-env
      ol.breadcrumb.bc-1
        li
          a(href="main")
            i.fa-home
            | 메인
        li.active
          strong 캘린더 관리
  .row
    .col-sm-12
      .panel.panel-default
        .panel-body
          form#register.form-horizontal(role="form")
            .form-group
              label.col-sm-2.control-label 캘린더 선택
              .col-sm-10
                select.form-control(name="id")
                  option
                  each share in shares
                    option(value=share.id)
                      | #{share.title}
                      if share.Calendar.UserId != session().user.id
                        | (#{share.Calendar.User.name}님 공유)
            .form-group-separator
            .form-group
              label.col-sm-2.control-label(for="ids") 캘린더 제목
              .col-sm-10
                input.form-control(type="text" name="title" placeholder="ex) 나의 일정" autocomplete="off")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 일정 기본 배경색
              .col-sm-10
                .form-block
                  input.cbr.cbr-primary(type="radio" name="bgcolor" value="#2c2e2f")
                  input.cbr.cbr-purple(type="radio" name="bgcolor" value="#7c38bc")
                  input.cbr.cbr-blue(type="radio" name="bgcolor" value="#0e62c7")
                  input.cbr.cbr-info(type="radio" name="bgcolor" value="#40bbea")
                  input.cbr.cbr-turquoise(type="radio" name="bgcolor" value="#00b19d")
                  input.cbr.cbr-secondary(type="radio" name="bgcolor" value="#68b828" checked)
                  input.cbr.cbr-success(type="radio" name="bgcolor" value="#8dc63f")
                  input.cbr.cbr-danger(type="radio" name="bgcolor" value="#cc3f44")
                  input.cbr.cbr-red(type="radio" name="bgcolor" value="#d5080f")
                  input.cbr.cbr-pink(type="radio" name="bgcolor" value="#ff6264")
                  input.cbr.cbr-orange(type="radio" name="bgcolor" value="#f7aa47")
                  input.cbr.cbr-warning(type="radio" name="bgcolor" value="#ffba00")
                  input.cbr.cbr-yellow(type="radio" name="bgcolor" value="#fcd036")
                  input.cbr.cbr-gray(type="radio" name="bgcolor" value="#c8c8c8")
                  input.cbr(type="radio" name="bgcolor" value="#ffffff")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 일정 기본 글자색
              .col-sm-10
                .form-block
                  input.cbr.cbr-primary(type="radio" name="fontcolor" value="#2c2e2f")
                  input.cbr.cbr-purple(type="radio" name="fontcolor" value="#7c38bc")
                  input.cbr.cbr-blue(type="radio" name="fontcolor" value="#0e62c7")
                  input.cbr.cbr-info(type="radio" name="fontcolor" value="#40bbea")
                  input.cbr.cbr-turquoise(type="radio" name="fontcolor" value="#00b19d")
                  input.cbr.cbr-secondary(type="radio" name="fontcolor" value="#68b828")
                  input.cbr.cbr-success(type="radio" name="fontcolor" value="#8dc63f")
                  input.cbr.cbr-danger(type="radio" name="fontcolor" value="#cc3f44")
                  input.cbr.cbr-red(type="radio" name="fontcolor" value="#d5080f")
                  input.cbr.cbr-pink(type="radio" name="fontcolor" value="#ff6264")
                  input.cbr.cbr-orange(type="radio" name="fontcolor" value="#f7aa47")
                  input.cbr.cbr-warning(type="radio" name="fontcolor" value="#ffba00")
                  input.cbr.cbr-yellow(type="radio" name="fontcolor" value="#fcd036")
                  input.cbr.cbr-gray(type="radio" name="fontcolor" value="#c8c8c8")
                  input.cbr(type="radio" name="fontcolor" value="#ffffff" checked)
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 캘린더 설명
              .col-sm-10
                textarea.form-control(name="comment" rows="5" placeholder="캘린더에 대한 설명을 적어주세요.")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 사용자 공유
              .col-sm-10
                select.form-control(name="users" multiple)
                  option
                  optgroup(label="유저 리스트")
                    each user in users
                      if user.id != session().user.id
                        option(value=user.id) #{user.name}
            .form-group-separator
            .form-group
              .col-sm-9
                h5.text-muted#deleteComment(style="display:none;") ※ 사용자 삭제는 [사용자 관리] - [사용자 현황] 페이지에서 사용자 클릭 후 팝업창에서 할 수 있습니다.
              .col-sm-3
                button.btn.btn-success(type="submit" style="float:right; margin-left: 20px;") 등록하기
                button.btn.btn-danger#delete_btn(style="float:right;display:none;") 삭제하기

block page_footer
  script(src="/cssys/assets/js/select2/select2.min.js")
  script(src="/cssys/assets/js/multiselect/js/jquery.multi-select.js")
  script(type="text/javascript").
    jQuery(document).ready(function($) {

      $("select[name='id']").select2({
        placeholder: '캘린더를 선택해 주세요. (캘린더 등록시 미선택)'
      }).on("select2-selecting", function(e) {
        $.post( "calendar/ajax/get_calendar",{id:e.val}, function( data ) {
          $('.form-group').removeClass('has-warning');
          $('input[name="id"]').val(data.share.id);
          $('input[name="title"]').val(data.share.title);
          $('input[name="bgcolor"]:input[value="'+data.share.bgcolor+'"]').click();
          $('input[name="fontcolor"]:input[value="'+data.share.fontcolor+'"]').click();
          $('textarea[name="comment"]').val(data.share.Calendar.comment);
          $('select[name="users"]').val(data.users).trigger("change");
          $('button[type="submit"]').text('수정하기');
          if(data.share.Calendar.UserId!=#{session().user.id}) $('textarea[name="comment"],select[name="users"]').attr("disabled","disabled");
          else {
            $('textarea[name="comment"],select[name="users"]').attr("disabled",false);
            $('#delete_btn').show();
          }
        });
      });

      $("select[name='users']").select2({
        placeholder: '캘린더를 공유할 사용자를 추가해 주세요.',
        allowClear: true
      }).on('select2-open', function(){
        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
      });

      $('form#register').submit(function(e) {
            e.preventDefault();
            if ($('input[name="title"]').val() != "") {
              $('button[type="submit"]').attr("disabled", "disabled");
                show_loading_bar(70);
          $.post("calendar",{
            id : $('select[name="id"]').select2('val'),
            title : $('input[name="title"]').val(),
            bgcolor : $('input[name="bgcolor"]:checked').val(),
            fontcolor : $('input[name="fontcolor"]:checked').val(),
            comment : $('textarea[name="comment"]').val(),
            users : $('select[name="users"]').select2('val')
          }, function(data) {
            show_loading_bar({
                          delay: 1,
                          pct: 100,
                          finish: function() {
                            if(!data.result){
                              alert(data.text);
                              window.location.href = './calendar';
                            }
                            else window.location.href = './main';
                          }
                      });
          });
            }
            else {
              $('input[name="title"]').focus().parent().parent().addClass('has-warning');
            }
        });

      $("#delete_btn").click(function(e){
        if(confirm("캘린더 및 공유 정보, 일정이 모두 삭제됩니다. 정말 삭제하시겠습니까?")){
          $.post("calendar/ajax/del_calendar",{
            id : $('select[name="id"]').select2('val')
          }, function(data) {
            show_loading_bar({
                          delay: 0.5,
                          pct: 100,
                          finish: function() {
                            window.location.href = './main';
                          }
                      });
          }).error(function() {
            show_loading_bar({
                        delay: 0.5,
                        pct: 100,
                        finish: function() {
                          alert("알 수 없는 오류가 발생하였습니다.");
                        }
                    });
          });
        }
      });

      // bottom 높이 문제 처리
      $(window).trigger('resize');
    });
