extends layout

block page_header
  - var page = "main"
  link(rel="stylesheet" href="/cssys/assets/js/fullcalendar/fullcalendar.min.css")
  link(rel="stylesheet" href="/cssys/assets/js/daterangepicker/daterangepicker-bs3.css")
  link(rel="stylesheet" href="/cssys/assets/js/select2/select2.css")
  link(rel="stylesheet" href="/cssys/assets/js/select2/select2-bootstrap.css")
  style.
    .form-horizontal .form-group {
      margin-left: 0px;
      margin-right: 0px;
    }
    .none_display {
      opacity: 0.65;
      filter: alpha(opacity=65);
      border-color:
    }

block page_body
  | #{session_.user.id}
  | #{session_.user.name}
  .row.calendar-env
    .col-sm-2
      a.btn.btn-block.btn-secondary.btn-icon.btn-icon-standalone.btn-icon-standalone-right(href="javascript:;" onclick="openModal()")
        i.fa.fa-star
        span 일정 등록
      a.btn.btn-block.btn-info.btn-icon.btn-icon-standalone.btn-icon-standalone-right(href="calendar")
        i.fa.fa-calendar
        span 캘린더 관리
      a.btn.btn-block.btn-blue.btn-icon.btn-icon-standalone.btn-icon-standalone-right(href="javascript:popupOpen()")
        i.fa.fa-th-large
        span 팝업으로 보기
      a.btn.btn-block.btn-purple.btn-icon.btn-icon-standalone.btn-icon-standalone-right(href="javascript:downloadProc()")
        i.fa.fa-file-image-o
        span 이미지로 저장
      hr(style="border-bottom: 1px solid #ddd;")
      each share in shares
        a.btn.btn-primary.btn-block.text-left.share_btn(class=!share.display ? "none_display" : "" data=share.id style="background:#{share.bgcolor}; border:none;")
          i.fa-check
          | &nbsp;#{share.title}
    .col-sm-10.calendar-right
      .calendar-main
        #calendar

  form#register.form-horizontal(role="form" method="post")
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4.modal-title 일정 추가
          .modal-body
            .row
              .col-md-12
                .form-group
                  label.control-label 캘린더 선택
                  select.form-control(name="ShareId")
                    option
                    each share in shares
                      option(value=share.id)
                        | #{share.title}
                        if share.Calendar.UserId != session().user.id
                          | (#{share.Calendar.User.name}님 공유)
            .row
              .col-md-12
                .form-group
                  label.control-label 일정 기간
                  .input-group
                    input.form-control.daterange(type="text" data-format="YYYY-MM-DD" data-separator=" ~ " name="startend" placeholder="기간을 선택해주세요.")
                    .input-group-addon
                      a(href="#")
                        i.linecons-calendar
            .row
              .col-md-12
                .form-group
                  label.control-label 일정 제목
                  input.form-control(type="text" name="title" placeholder="제목을 입력해주세요.")
            .row
              .col-md-12
                .form-group
                  label.control-label 일정 배경색
                  .form-block
                    input.cbr.cbr-primary(type="radio" name="bgcolor" value="#2c2e2f")
                    input.cbr.cbr-purple(type="radio" name="bgcolor" value="#7c38bc")
                    input.cbr.cbr-blue(type="radio" name="bgcolor" value="#0e62c7")
                    input.cbr.cbr-info(type="radio" name="bgcolor" value="#40bbea")
                    input.cbr.cbr-turquoise(type="radio" name="bgcolor" value="#00b19d")
                    input.cbr.cbr-secondary(type="radio" name="bgcolor" value="#68b828" checked)
                    input.cbr.cbr-success(type="radio" name="bgcolor" value="#8dc63f")
                    input.cbr.cbr-danger(type="radio" name="bgcolor" value="#cc3f44")
                    input.cbr.cbr-red(type="radio" name="bgcolor" value="#d5080f")
                    input.cbr.cbr-pink(type="radio" name="bgcolor" value="#ff6264")
                    input.cbr.cbr-orange(type="radio" name="bgcolor" value="#f7aa47")
                    input.cbr.cbr-warning(type="radio" name="bgcolor" value="#ffba00")
                    input.cbr.cbr-yellow(type="radio" name="bgcolor" value="#fcd036")
                    input.cbr.cbr-gray(type="radio" name="bgcolor" value="#c8c8c8")
                    input.cbr(type="radio" name="bgcolor" value="#ffffff")
            .row
              .col-md-12
                .form-group
                  label.control-label 일정 글자색
                  .form-block
                    input.cbr.cbr-primary(type="radio" name="fontcolor" value="#2c2e2f")
                    input.cbr.cbr-purple(type="radio" name="fontcolor" value="#7c38bc")
                    input.cbr.cbr-blue(type="radio" name="fontcolor" value="#0e62c7")
                    input.cbr.cbr-info(type="radio" name="fontcolor" value="#40bbea")
                    input.cbr.cbr-turquoise(type="radio" name="fontcolor" value="#00b19d")
                    input.cbr.cbr-secondary(type="radio" name="fontcolor" value="#68b828")
                    input.cbr.cbr-success(type="radio" name="fontcolor" value="#8dc63f")
                    input.cbr.cbr-danger(type="radio" name="fontcolor" value="#cc3f44")
                    input.cbr.cbr-red(type="radio" name="fontcolor" value="#d5080f")
                    input.cbr.cbr-pink(type="radio" name="fontcolor" value="#ff6264")
                    input.cbr.cbr-orange(type="radio" name="fontcolor" value="#f7aa47")
                    input.cbr.cbr-warning(type="radio" name="fontcolor" value="#ffba00")
                    input.cbr.cbr-yellow(type="radio" name="fontcolor" value="#fcd036")
                    input.cbr.cbr-gray(type="radio" name="fontcolor" value="#c8c8c8")
                    input.cbr(type="radio" name="fontcolor" value="#ffffff" checked)
            .row
              .col-md-12
                .form-group.no-margin
                  label.control-label(for="field-7") 일정 내용
                  textarea.form-control.autogrow(name="text" placeholder="일정에 관한 내용을 입력해주세요.")
          .modal-footer
            button.btn.btn-white(type="button" data-dismiss="modal") 취소하기
            button.btn.btn-danger#delete_btn(type="button" data-dismiss="modal" onClick="delEvent()") 삭제하기
            button.btn.btn-info(type="submit") 추가하기
    input(type="hidden" name="id")

block page_footer
  script(src="/cssys/assets/js/jquery-ui/jquery-ui.min.js")
  script(src="/cssys/assets/js/moment.min.js")
  script(src="/cssys/assets/js/fullcalendar/fullcalendar.min.js")
  script(src="/cssys/assets/js/daterangepicker/daterangepicker.js")
  script(src="/cssys/assets/js/datepicker/bootstrap-datepicker.js")
  script(src="/cssys/assets/js/select2/select2.min.js")
  script(src="/cssys/assets/js/multiselect/js/jquery.multi-select.js")
  script(type="text/javascript").
    var calendar;
    jQuery(document).ready(function($) {
      $("select[name='ShareId']").select2({
        placeholder: '캘린더를 선택해 주세요.'
      }).on("change", function(e) {
        $.post("main/ajax/get_calendar",{id:e.val}, function(data) {
          $('input[name="bgcolor"]:input[value="'+data.bgcolor+'"]').click();
          $('input[name="fontcolor"]:input[value="'+data.fontcolor+'"]').click();
        });
      });


      $('form#register').submit(function(e) {
            e.preventDefault();
            if ($('select[name="ShareId"]').val() == ""){
              $('select[name="ShareId"]').select2('open');
            }
            else if ($('input[name="startend"]').val() == ""){
              $('input[name="startend"]').focus();
            }
            else if ($('input[name="title"]').val() == ""){
              $('input[name="title"]').focus();
            }
            else if ($('input[name="title"]').val() != "") {
              $('button[type="submit"]').attr("disabled", "disabled");
                show_loading_bar(70);
          $.post(($('input[name="id"]').val()==""?"main":"main/ajax/set_event"),{
            id : $('input[name="id"]').val(),
            ShareId : $('select[name="ShareId"]').select2('val'),
            start : $('input[name="startend"]').val().split(" ~ ")[0],
            end : $('input[name="startend"]').val().split(" ~ ")[1],
            title : $('input[name="title"]').val(),
            bgcolor : $('input[name="bgcolor"]:checked').val(),
            fontcolor : $('input[name="fontcolor"]:checked').val(),
            comment : $('textarea[name="comment"]').val()
          }, function(data) {
            show_loading_bar({
                          delay: 0.5,
                          pct: 100,
                          finish: function() {
                            $('#register>.modal').modal('hide');
                            calendar.fullCalendar( 'refetchEvents' );
                          }
                      });
          });
            }
        });


      calendar = $('#calendar').fullCalendar({
        header: {
          left: 'title',
          center: '',
          right: 'prev,next'
        },
        buttonIcons: {
          prev: 'prev fa-angle-left',
          next: 'next fa-angle-right',
        },
        editable: true,
        selectable: true,
        eventLimit: true,
        droppable: true,
        eventSources: [
              {
                  url: 'main/ajax/get_events'
              }
          ],
        drop: function(date) {

          var $event = $(this).find('a'),
            eventObject = {
              title: $event.find('.badge').text(),
              start: date,
              className: $event.data('event-class')
            };

          $('#calendar').fullCalendar('renderEvent', eventObject, true);

          // Remove event from list
          $(this).remove();
        },
        // 이벤트 기간 이동
        eventDrop: function( event, delta, revertFunc, jsEvent, ui, view ) {
          updateEvent(event);

        },
        // 이벤트 기간 변동
        eventResize: function( event, delta, revertFunc, jsEvent, ui, view ) {
          updateEvent(event);
        },
        // 이벤트 클릭
        eventClick: function( event, jsEvent, view ) {
          setModalEvent(event);
        },
        // 기간 클릭
        select : function( start, end, jsEvent, view ) {
          openModal();
          $('input[name="startend"]').data('daterangepicker').setStartDate(start);
          $('input[name="startend"]').data('daterangepicker').setEndDate(moment(end).add(-1,'day'));
          calendar.fullCalendar('unselect');
        }

      });

      $(".share_btn").click(function(){
        var display = $(this).hasClass('none_display');
        if(display) $(this).removeClass('none_display');
        else $(this).addClass('none_display');
        $.post("main/ajax/set_share",{
          id : $(this).attr("data"),
          display : (display?1:0)
        }, function(data) {
          calendar.fullCalendar( 'refetchEvents' );
          show_loading_bar({
                      delay: 0.5,
                      pct: 100
                  });
        }).error(function() {
          show_loading_bar({
                      delay: 0.5,
                      pct: 100,
                      finish: function() {
                        alert("알 수 없는 오류가 발생하였습니다.")
                      }
                  });
        });
      });

      // bottom 높이 문제 처리
      $(window).trigger('resize');
    });
    function updateEvent(event){
      show_loading_bar(70);
      $.post("main/ajax/set_event",{
        id : event.id,
        title : event.title,
        text : event.text,
        bgcolor : event.bgcolor,
        fontcolor : event.fontcolor,
        start : event.start.format(),
        end : event.end.format(),
        ShareId : event.ShareId
      }, function(data) {
        show_loading_bar({
                  delay: 0.5,
                  pct: 100
              });
      }).error(function() {
        show_loading_bar({
                  delay: 0.5,
                  pct: 100,
                  finish: function() {
                    alert("알 수 없는 오류가 발생하였습니다.")
                  }
              });
      });
    }
    function openModal(){
      $('select[name="ShareId"]').select2("val","");
      $('input[name="startend"]').data('daterangepicker').setStartDate(new Date());
      $('input[name="startend"]').data('daterangepicker').setEndDate(new Date());
      $('input[name="title"]').val("");
      $('input[name="bgcolor"]:input[value="#68b828"]').click();
      $('input[name="fontcolor"]:input[value="#ffffff"]').click();
      $('textarea[name="text"]').val("");
      $('#delete_btn').hide();
      $('button[type="submit"]').text('추가하기').attr("disabled", false);
      $('input[name="id"]').val("");
      $('#register>.modal').modal('show', {backdrop: 'static'});
    }
    function setModalEvent(event){
      show_loading_bar(70);
      $.post("main/ajax/get_event",{id:event.id}, function(data) {
        openModal();
        $('#delete_btn').show();
        $('select[name="ShareId"]').select2("val",data.ShareId);
        $('input[name="startend"]').data('daterangepicker').setStartDate(data.start);
        if(data.start==data.end) $('input[name="startend"]').data('daterangepicker').setEndDate(data.end);
        else $('input[name="startend"]').data('daterangepicker').setEndDate(moment(data.end).add(-1,'day'));
        $('input[name="title"]').val(data.title);
        $('input[name="bgcolor"]:input[value="'+data.bgcolor+'"]').click();
        $('input[name="fontcolor"]:input[value="'+data.fontcolor+'"]').click();
        $('textarea[name="text"]').val(data.text);
        $('input[name="id"]').val(data.id);
        $('button[type="submit"]').text('수정하기');
        show_loading_bar({
                  delay: 0.5,
                  pct: 100
              });
      }).error(function() {
        show_loading_bar({
                  delay: 0.5,
                  pct: 100,
                  finish: function() {
                    alert("알 수 없는 오류가 발생하였습니다.");
                  }
              });
      });
    }
    function delEvent(){
      if(confirm("정말 삭제하시겠습니까?")){

        $.post("main/ajax/del_event",{
          id : $('input[name="id"]').val()
        }, function(data) {
          show_loading_bar({
                      delay: 0.5,
                      pct: 100,
              finish: function() {
                          calendar.fullCalendar( 'refetchEvents' );
                      }
                  });
        }).error(function() {
          show_loading_bar({
                      delay: 0.5,
                      pct: 100,
                      finish: function() {
                        alert("알 수 없는 오류가 발생하였습니다.");
                      }
                  });
        });
      }
    }
    function popupOpen(){
      window.open("popup","","width=1024, height=768, resizable=yes, scrollbars=no, status=no;");
    }
    function downloadProc(){
      show_loading_bar(70);
      document.location="download?date="+moment(calendar.fullCalendar( 'getView' ).start).add(15,'day').format("YYYY-MM-DD");
      show_loading_bar({
              delay: 3,
              pct: 100
          });

      //moment(calendar.fullCalendar( 'getView' ).start).add(15,'day').format();
      //calendar.fullCalendar( 'gotoDate', moment(calendar.fullCalendar( 'getView' ).start).add(15,'day') );

    }
