<%- include('../../../partials/head') %>
<% var page = "regiprof"; %>
<link rel="stylesheet" href="/cssys/assets/js/datatables/dataTables.bootstrap.css">
<style>
  .panel-body {
  padding-top: 0px !important;
  }
  .dataTables_paginate {
  float: left !important;
  }
  .dataTables_filter {
  float: right;
  padding-top: 10px;
  }
  .dataTable tbody tr {
  cursor: pointer;
  }
  .rotate{
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  }
</style>

<div class="page-container">
  <div class="sidebar-menu toggle-others fixed">
    <%- include('./sidebar') %>
  </div>
  <div class="main-content">
    <%- include('../../../partials/navbar') %>

    <div class="page-title">
      <div class="title-env">
        <h1 class="title">생활 지도 교수 신청/변경 (Guidance Professor Application/Change)</h1>
        <p class="description"></p>
      </div>
      <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
          <li>
            <a href="main"><i class="fa-home"></i>메인</a>
          </li>
          <li class="active">
            <strong>생활 지도 교수 신청/변경</strong>
          </li>
        </ol>
      </div>
    </div>
    <% if (state==0) { %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <table id="exampleList" class="table table-hover" style="width:100% !important;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>이름 (Name)</th>
                  <th>e-mail</th>
                  <th>전화 번호 (Phone)</th>
                  <th>전공 (Major)</th>
                  <th>지도 교수 신청 (Apply)</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% } else if (state==1) { %>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 panel" style="font-size:20px;">
          <% if (Log.state==1) { %>
          <strong><%= Log.Prof.User.name %></strong> 교수님 연결 <p class="label label-success">대기 중</p>
          <p>신청 수락을 위해 아래 메일로 교수님에게 안내해주시기 바랍니다.</p>
          <p>Please send email to the address below to let professor check your application.</p>
          <strong><%= Log.Prof.User.email %></strong>
          <% } %>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="row" style="height: 20px;font-size:20px;">
      <div class="col-sm-12">
        <div class="col-md-12"><strong><%= prof.User.name %></strong> 교수님이 배정되어 있습니다. (Professor assigned)</div>
        <br><br>
        <div class="col-md-3 btn btn-danger" style="margin: 10px 15px; font-size:15px;" onclick="dismissProf(<%= StudentId %>,<%= ProfId %>)">배정 취소 신청 (Cancel Assignment)</div>
      </div>
      <h5 class="col-sm-12" style="margin: 0 15px;">* 취소 사유서 작성 페이지로 이동합니다.</h5>
      <p class="col-sm-12" style="margin: 0 15px; font-size:12px">* Redirect to write cancellation reasons page.</p>
    </div>
    <% } %>

    <%- include('./role-footer') %>
  </div>
</div>

<%- include('../../../partials/loading') %>
<%- include('../../../partials/foot-scripts') %>
<script src="/cssys/assets/js/datatables/js/jquery.dataTables.min.js"></script>
<script src="/cssys/assets/js/datatables/dataTables.bootstrap.js"></script>
<script src="/cssys/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>
<script src="/cssys/assets/js/datatables/fnReloadAjax.js"></script>
<script>
  var exampleList;
  jQuery(document).ready(function($) {
  exampleList=$("#exampleList").dataTable({
  "oLanguage": {
  "sSearch": "검색 (Search) :",
  "sLengthMenu": "_MENU_ 개씩 보기",
  "sEmptyTable": "레코드가 없습니다.",
  "sInfo": "총 _TOTAL_개 중 _START_에서 _END_번째",
  "sInfoEmpty": "총 0개",
  "sZeroRecords": "일치하는 글이 없습니다.",
  "sInfoFiltered": "(총 _MAX_개 중)",
  "oPaginate": {
  "sFirst": "처음",
  "sLast": "마지막",
  "sNext": "Next",
  "sPrevious": "Prev"
  }
  },
  "sDom": '<"top"i>rt<"bottom"pf><"clear">',
  aLengthMenu: [
  [10, 25, 50, 100, -1],
  [10, 25, 50, 100, "전체"]
  ],
  //"sPaginationType": "full_numbers",
  "bSort": false,
  "bProcessing": true,
  "sAjaxSource": '/cssys/guidance/ajax/regiprof/proflist',
  "sServerMethod": "POST",
  "aoColumns": [
  {
  "mData": "index",
  "mRender": function(data, type, full) {
  if(data===null) return "<i class='fa fa-reply rotate'></i>";
  else return data;
  }
  }, {
  "mData": "User.name",
  "mRender": function(data, type, full) {
  if(full.secret) return data+" <i class='fa fa-lock'></i>";
  else return data;
  }
  }, {
  "mData": "User.email"
  }, {
  "mData": "User.phone"
  }, {
  "mData": "User.major"
  }, {
  "mRender": function(data,type,full){
  return "<button class=\"btn btn-success\" onclick=\"applyProf("+full.id+")\">신청(Apply)</button>";
  }
  }],
  /* "fnRowCallback": function(nRow, aData, iDisplayIndex) {
  $(nRow).unbind("click").click(function() {
  document.location='/prof/view/'+aData.id;
  });
  },*/

  "fnDrawCallback": function(oSettings) {
  $(window).trigger('xenon.resized');
  }
  });
  });
  function applyProf(permission_id) {
  var flag= confirm("신청하시겠습니까? (Are you sure to apply?)")
  if (flag) {
  window.location="/cssys/guidance/student/appwrite/"+permission_id;
  }
  }
  function dismissProf(StudentId, ProfId) {
  window.location="/cssys/guidance/student/explwrite/"+ProfId+"/"+StudentId;
  }
</script>
<%- include('../../../partials/foot-end') %>
