<div class="sidebar-menu-inner">
  <header class="logo-env">
    <div class="logo">
      <a class="logo-expanded" href="/cssys/guidance/student/main">
        <img src="/cssys/assets/img/logo/logo_main.png" alt="SKKU ICC cssys">
        <p style="text-align:center;font-weight:bold;">생활지도교수 배정 시스템</p>
      </a>
      <a class="logo-collapsed" href="/cssys/guidance/student/main">
        <img src="/cssys/assets/img/logo/logo_main_small.png" alt="SKKU ICC cssys">
      </a>
    </div>
    <div class="mobile-menu-toggle visible-xs">
      <a href="#" data-toggle="mobile-menu"><i class="fa-bars"></i></a>
    </div>
  </header>

  <ul id="main-menu" class="main-menu">
    <li class="<%= page=='main' ? 'active' : '' %>">
      <a href="/cssys/guidance/student/main"><i class="fa fa-home"></i><span class="title">메인</span></a>
    </li>
    <li class="<%= page=='notice' ? 'active' : '' %>">
      <a href="/cssys/guidance/student/notice"><i class="fa fa-star"></i><span class="title">공지사항</span></a>
    </li>
    <li class="<%= page=='system' ? 'active' : '' %>">
      <a href="/cssys/guidance/student/regiprof"><i class="fa fa-mortar-board"></i><span class="title">생활 지도 교수 신청/변경</span></a>
    </li>
    <li class="<%= page=='qna' ? 'active' : '' %>">
      <a href="/cssys/guidance/student/qna"><i class="fa fa-envelope"></i><span class="title">질문 및 답변</span></a>
    </li>
    <li class="<%= page=='config' ? 'active' : '' %>">
      <a href="/cssys/guidance/student/config"><i class="fa fa-wrench"></i><span class="title">회원정보 수정</span></a>
    </li>
  </ul>
</div>
