extends ../../layout

block page_body_menu
  .sidebar-menu-inner
    header.logo-env
      .logo
        a.logo-expanded(href="/cssys/schedule/admin/main")
          img(src="/cssys/assets/img/logo/logo_main.png" alt="SKKU ICC cssys")
        a.logo-collapsed(href="/cssys/schedule/admin/main")
          img(src="/cssys/assets/img/logo/logo_main_small.png" alt="SKKU ICC cssys")
      .mobile-menu-toggle.visible-xs
        a(href="#" data-toggle="mobile-menu")
          i.fa-bars

    ul#main-menu.main-menu
      li(class=page=="main" ? "active" : "")
        a(href="/cssys/schedule/admin/main")
          i.fa.fa-home
          span.title 메인
      li(class=(page=="user_list" || page=="user_register") ? "active opened" : "")
        a(href="")
          i.fa.fa-users
          span.title 사용자 관리
        ul
          li(class=page=="user_list" ? "active" : "")
            a(href="/cssys/schedule/admin/user_list")
              span.title 사용자 현황
          li(class=page=="user_register" ? "active" : "")
            a(href="/cssys/schedule/admin/user_register")
              span.title 사용자 등록 및 수정
      li(class=(page=="calendar_list" || page=="calendar_register") ? "active opened" : "")
        a(href="")
          i.fa.fa-calendar
          span.title 캘린더 관리
        ul
          li(class=page=="calendar_list" ? "active" : "")
            a(href="/cssys/schedule/admin/calendar_list")
              span.title 캘린더 현황
          li(class=page=="calendar_register" ? "active" : "")
            a(href="/cssys/schedule/admin/calendar_register")
              span.title 캘린더 추가 및 수정
      li(class=page=="board" ? "active" : "")
        a(href="/cssys/schedule/admin/board/list")
          i.fa.fa-list
          span.title 시스템 게시판

block page_body_footer
  footer.main-footer.sticky.footer-type-1
    .footer-inner
      .footer-text
        | &copy; Copyright 2015 성균관대학교 자연과학캠퍼스 소프트웨어융합대학
        strong
          a.tooltip-primary(href="http://scg.skku.ac.kr" data-toggle="tooltip" data-placement="top" title="" data-original-title="컴퓨터공학과 10학번 강성현 제작") 시스템컨설턴트그룹
        | . All Rights Reserved.
