extends ../../layout

block page_body_menu
  .sidebar-menu-inner
    header.logo-env
      .logo
        a.logo-expanded(href="/cssys/work/admin/main")
          img(src="/cssys/assets/img/logo/logo_main.png" alt="SKKU ICC cssys")
          p(style="text-align:center;font-weight:bold;") 연구논문/작품 시스템
        a.logo-collapsed(href="/cssys/work/admin/main")
          img(src="/cssys/assets/img/logo/logo_main_small.png" alt="SKKU ICC cssys")
      .mobile-menu-toggle.visible-xs
        a(href="#" data-toggle="mobile-menu")
          i.fa-bars

    ul#main-menu.main-menu
      li(class=page=="main" ? "active" : "")
        a(href="/cssys/work/admin/main")
          i.fa.fa-home
          span.title 메인
      li(class=(page=="notice_prof" || page=="notice_student" || page=="example") ? "active opened" : "")
        a(href="")
          i.fa.fa-star
          span.title 게시판 관리
        ul
          li(class=page=="notice_prof" ? "active" : "")
            a(href="/cssys/work/admin/notice_prof/list")
              span.title 교수 페이지 공지사항
          li(class=page=="notice_student" ? "active" : "")
            a(href="/cssys/work/admin/notice_student/list")
              span.title 학생 페이지 공지사항
          li(class=page=="example" ? "active" : "")
            a(href="/cssys/work/admin/example/list")
              span.title 학생 페이지 제출양식
      li(class=page=="system" ? "active" : "")
        a(href="/cssys/work/admin/system")
          i.fa.fa-database
          span.title 시스템 일정
      li(class=(page=="prof_list" || page=="prof_register" || page=="prof_excel_register") ? "active opened" : "")
        a(href="")
          i.fa.fa-user
          span.title 교수 관리
        ul
          li(class=page=="prof_list" ? "active" : "")
            a(href="/cssys/work/admin/prof_list")
              span.title 교수 현황
          li(class=page=="prof_register" ? "active" : "")
            a(href="/cssys/work/admin/prof_register")
              span.title 교수 등록 및 수정
          li(class=page=="prof_excel_register" ? "active" : "")
            a(href="/cssys/work/admin/prof_excel_register")
              span.title 교수 일괄 등록
      li(class=(page=="student_list" || page=="student_register" || page=="student_excel_register") ? "active opened" : "")
        a(href="")
          i.fa.fa-users
          span.title 학생 관리
        ul
          li(class=page=="student_list" ? "active" : "")
            a(href="/cssys/work/admin/student_list")
              span.title 학생 현황
          li(class=page=="student_register" ? "active" : "")
            a(href="/cssys/work/admin/student_register")
              span.title 학생 등록 및 수정
          li(class=page=="student_excel_register" ? "active" : "")
            a(href="/cssys/work/admin/student_excel_register")
              span.title 학생 일괄 등록
      li(class=page=="permission" ? "active" : "")
        a(href="/cssys/work/admin/permission")
          i.fa.fa-list
          span.title 교수 신청/배정 현황
      li(class=page=="paperwork" ? "active" : "")
        a(href="/cssys/work/admin/paperwork")
          i.fa.fa-mortar-board
          span.title 연구논문/작품
      li(class=page=="qna" ? "active" : "")
        a(href="/cssys/work/admin/qna/list")
          i.fa.fa-envelope
          span.title 질문 및 답변

block page_body_footer
  style.
    .main-footer .tooltip, .main-footer .tooltip-inner {
        min-width: 270px !important;
    }
  footer.main-footer.sticky.footer-type-1
    .footer-inner
      .footer-text
        | &copy; Copyright 2015 성균관대학교 자연과학캠퍼스 소프트웨어융합대학
        strong
          a.tooltip-primary(href="http://scg.skku.ac.kr" data-toggle="tooltip" data-placement="top" title="" data-original-title="컴퓨터공학과 10학번 강성현(PM), 황준성 제작") 시스템컨설턴트그룹
        | . All Rights Reserved.
