<%- include('../../../partials/head') %>
<% var page = "student_list"; %>
<style>
  .btn {
  margin-bottom: 0px;
  }
  .form-horizontal .form-group-separator {
  height: 1px;
  background: #eee;
  margin-bottom: 15px;
  }
</style>

<div class="page-container">
  <div class="sidebar-menu toggle-others fixed">
    <%- include('./sidebar') %>
  </div>
  <div class="main-content">
    <%- include('../../../partials/navbar') %>

    <div class="page-title">
      <div class="title-env">
        <h1 class="title">학생 현황</h1>
        <p class="description"><%= user.ids %> 계정의 <%= user.name %> 학생 정보입니다.</p>
      </div>
      <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
          <li>
            <a href="main"><i class="fa-home"></i>메인</a>
          </li>
          <li style="color:#979898;">
            학생 관리
          </li>
          <li class="active">
            <strong>학생 현황</strong>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-horizontal">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">학생 기본 정보</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">아이디</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="<%= user.ids %>" disabled >
              </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">이름</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="<%= user.name %>" disabled >
              </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">이메일</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="<%= user.email %>" disabled >
              </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">연락처</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="<%= user.phone %>" disabled >
              </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">전공</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="<%= ["전자전기공학부","컴퓨터공학과","반도체시스템공학과","소프트웨어학과","정보통신대학", "인터랙션사이언스학과"][user.major] %>" disabled >
              </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">재학여부</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" value="<%= ["재학","휴학","수료","졸업"][student.status] %>" disabled >
              </div>
            </div>
            <div class="form-group-separator"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">복수전공 여부</label>
                <div class="col-sm-10">
                <% if (student.doublemajor==1) { %>
                  <input class="form-check" type="checkbox" value=1 name="doublemajor" checked disabled >
                <% } else { %>
                  <input class="form-check" type="checkbox" value=1 name="double" disabled>
                <% } %>
                </div>
              </div>
          </div>
          <br>
          <div class="panel-heading">
            <h3 class="panel-title">학생 교수 배정 정보</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">배정 학기</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" value="<%= student.term %>" disabled >
              </div>
              <label class="col-sm-2 control-label">배정 교수</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" value="<%= student.prof.User.name %>" disabled >
              </div>
            </div>
          </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-success" style="float:right;" onClick="window.history.back()">뒤로가기</button>
                <a href="../student_register/<%= user.id %>" type="button" class="btn btn-info" style="float:right; margin-right:20px;">수정하기</a>
                <button type="button" class="btn btn-danger" style="float:right; margin-right:20px;" onClick="student_login()">로그인하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./role-footer') %>
  </div>
</div>

<%- include('../../../partials/loading') %>
<%- include('../../../partials/foot-scripts') %>
<script src="/cssys/assets/js/jquery.form.min.js"></script>
<script>
  function student_login(){
  if(confirm("관리자 페이지가 로그아웃 되고 현재 <%= user.name %> 학생의 <%= user.ids %> 계정으로 로그인 됩니다. 로그인 하시겠습니까?")){
  document.location="../student_login/<%= user.id %>";
  }
  }
  $("form").submit(function(event){
  event.preventDefault();
  var tmp=false;
  if($(this).find("input[name='delete']").val()){
  if(confirm("정말 삭제하시겠습니까?")) tmp=true;
  }
  else if($(this).find("input[type='file']").val()) tmp=true;
  if(tmp){
  $(this).ajaxSubmit({
  beforeSubmit: function(arr, $form, options) {
  $(this).find('button[type="submit"]').attr("disabled", "disabled");
  show_loading_bar(70);
  },
  success: function(data) {
  show_loading_bar({
  delay: 1,
  pct: 100,
  finish: function() {
  if(!data.result){
  alert(data.text);
  $('button[type="submit"]').removeAttr("disabled");
  }
  else{
  window.location.reload();
  }
  }
  });
  },
  error: function(data) {
  show_loading_bar({
  delay: 1,
  pct: 100,
  finish: function() {
  alert("에러가 발생하였습니다. 시스템 관리자에게 문의해주세요.");
  }
  });
  }
  });
  }
  });
</script>
<%- include('../../../partials/foot-end') %>